@charset "UTF-8";

html {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
}

/* Mobile layout starts at this value */
$mobile-breakpoint: 1400px;
@mixin mobile-layout {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin desktop-layout {
  @media screen and (min-width: ($mobile-breakpoint + 1)) {
    @content;
  }
}

/******************************************************************
* Global styles
******************************************************************/

::selection {
  @apply bg-slate-600;
}

/****************************************/
/* BODY
/****************************************/

html {
  width: 100%;
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-size: 1rem;
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
  overflow-x: hidden;

  @apply bg-neutral-900;
  @apply text-neutral-200;

  --page-padding: 30vw;
}
@media screen and (max-width: 1500px) {
  body {
    --page-padding: 25vw;
  }
}
@media screen and (max-width: 1200px) {
  body {
    --page-padding: 20vw;
  }
}
@media screen and (max-width: 800px) {
  body {
    --page-padding: 10vw;
  }
}

/****************************************/
/* Navbar
/****************************************/

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  @apply flex flex-row justify-between;
  gap: 1rem;
  padding: 0.5rem var(--page-padding);
  height: max-content;

  @apply text-neutral-400;
  @apply bg-neutral-900;
}
@include mobile-layout {
  .navbar {
    background-color: color-mix(in srgb, var(--neutral-900) 60%, transparent 40%);
    backdrop-filter: blur(5px);
  }
}

.navbar a {
  transition: color 0.5s ease;
}
.navbar a.active {
  @apply text-neutral-100;
}

.navbar__filler {
  height: 1rem;
}

/****************************************/
/* Header
/****************************************/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(8rem, 25vw) 0 min(8rem, 20vw) 0;
  width: min(auto, 80vw);
  height: auto;
}

/****************************************/
/* About
/****************************************/

.about {
  width: 100%;
  padding: 3rem var(--page-padding);
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-bottom: 1px solid;
  @apply border-neutral-600;
}

.about__header {
  text-align: center;
  margin-bottom: 2rem;
}
.about__title {
  @apply text-4xl;
  margin-bottom: 0rem;
}
.about__subtitle {
  @apply text-xl;
  @apply text-neutral-400;
}
.about__image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50%);
  margin: 1rem;
  margin-left: 0;
  border: 2px solid;
  @apply border-neutral-600;
}
.about__description {
  @apply text-lg;
  text-align: justify;
  line-height: 1.2;
  /* margin-bottom: 0.25rem; */
}
.about__signature {
  filter: invert(1);
  width: calc((100vw - 2 * var(--page-padding)) / 1.8);
  align-self: end;
  padding-right: 0rem;
  opacity: 0.4;
  transform: translate(3.5rem, -1rem);
  padding-bottom: -1rem;
}

@media screen and (max-width: 600px) {
  .about__image {
    width: 8rem;
    height: 8rem;
    margin: 0 1rem 1rem 0;
  }
  .about__description {
    text-align: left;
  }
  .about__signature {
    transform: translate(2rem, 0rem);
  }
}

/****************************************/
/* Projects
/****************************************/

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;
}
.projects__title {
  @apply text-4xl;
  text-align: left;
  margin: 0 var(--page-padding) 4rem var(--page-padding);
}

.project {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
}

.project__text {
  position: absolute;
  top: 0;
  left: 0;
  /* min-width: 20rem; */
  max-width: var(--page-padding);
  height: 100%;
  padding: 2rem 2rem 1rem 2rem;
  background-color: color-mix(in srgb, var(--neutral-900) 60%, transparent 40%);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: end;
}
@include desktop-layout {
  .project__text {
    padding-left: 4rem;
  }
}
.project__text h3 {
  @apply text-2xl;
  padding-bottom: 0.5rem;
}
.project__text h4 {
  @apply text-neutral-200;
  padding-bottom: 0.5rem;
}
.project__text p {
  @apply text-neutral-400;
  padding-bottom: 0.5rem;
}
.project__text p > span {
  @apply text-neutral-600;
  padding-bottom: 0.5rem;
}

.project__images {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}
/* For WebKit browsers (Chrome, Safari, Opera) */
.project__images::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge, and Firefox */
.project__images {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.project__images > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: max(min(calc(var(--page-padding) - 2rem), 8rem), 1rem);
  width: max-content;
  padding: 0 var(--page-padding);
}
.project__images figure {
  height: auto;
}
.project__images figure:first-child img,
.project__images figure:first-child video {
  width: calc(100vw - 2 * var(--page-padding));
  height: auto;
  max-width: none;
}
.project__images figure:not(:first-child) img,
.project__images figure:not(:first-child) video {
  /* dimensions set programatically in JS */
  width: auto;
  height: 0;
}
.project {
  position: relative;
}
.project::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(var(--page-padding) / 1.6);
  pointer-events: none;
  background: linear-gradient(
    to right,
    oklab(0.41 0 0 / 0) 0%,
    oklab(0.18 0 0 / 0.1) 20%,
    oklab(0.18 0 0 / 0.8) 100%
  );
}
@include mobile-layout {
  .project:after {
    right: -2rem;
  }
}

/* Mobile layout */

@include mobile-layout {
  .project {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }
  .project__text {
    position: static;
    width: 100%;
    max-width: 100vw;
    height: auto;
    padding: 1rem var(--page-padding);
    background-color: transparent;
    backdrop-filter: none;
    align-items: start;
  }
  .project__images {
    width: 100%;
  }
  .project__images figure:first-child img,
  .project__images figure:first-child video {
    width: calc(100vw - 2 * var(--page-padding));
    height: auto;
    max-width: none;
  }
}

/******************************************************/
/*  FORMULAIRE /  CONTACT
/******************************************************/

.contact {
  width: 100%;
  padding: 6rem var(--page-padding);
  @apply flex flex-col items-center justify-center;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  @apply border-neutral-600;
}

.contact__header {
  @apply text-6xl;
  margin-bottom: 2rem;
}
.contact__text {
  @apply text-xl;
  @apply text-neutral-300;
}

.contact__email {
  border-radius: 20px;
  padding: 1rem 1.2rem;
  margin-bottom: 2.2rem;
  text-decoration: none;
  @apply flex flex-col items-center justify-center;
  @apply bg-yellow-200;
  transition: background-color 0.3s ease;
}
.contact__email:hover {
  @apply bg-yellow-300;
}
.contact__email:active {
  transform: translateY(1px);
}
.contact__email__title {
  @apply text-3xl;
  @apply text-neutral-900;
}
.contact__email__subtitle {
  @apply text-neutral-900;
  opacity: 0.6;
}

/****************************************/
/* Footer
/****************************************/

.footer {
  padding: 8rem var(--page-padding);
  @apply flex flex-col items-center justify-center;
}
.footer__logo {
  width: calc((100vw - 2 * var(--page-padding)) / 4);
  height: auto;
}
