@charset "UTF-8";

@import 'tailwindcss';

/* Enlever les padding et margin ajoutés automatiquement par normalize.css */

body,
html,
aside,
section,
article,
footer,
header,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
figure {
  padding: 0;
  margin: 0;
}

/******************************************************************
* Global styles
******************************************************************/

/* les images ne seront jamais plus grandes que le contenant <figure> qui les contient */
img {
  max-width: 100%;
  height: auto;
}
video {
  max-width: 100%;
  height: auto;
}

/* retire le gras par défaut des titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.sm-only {
  display: none;
}
@media screen and (max-width: 680px) {
  .sm-only {
    display: block;
  }
}

.sm-hidden {
  display: block;
}
@media screen and (max-width: 680px) {
  .sm-hidden {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}

/****************************************/
/* BODY
/****************************************/

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
  overflow-x: hidden;

  @apply bg-white;
  @apply text-red-500;
}

p {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Barlow ', sans-serif;
  line-height: 145%;
}

/****************************************/
/* Header
/****************************************/

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 7vw;
  padding-bottom: 20px;
}

header nav {
  position: fixed;
  z-index: 1;
  top: 1vw;
  left: 10vw;
  font-weight: 100;
  display: flex;
  gap: 1rem;

  @apply bg-neutral-950;
}

header figure {
  width: 8%;
}

/****************************************/
/* Navigation links
/****************************************/

.nav-link {
  text-decoration: none;
  color: #b09500;
  font-weight: 300;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #ffd800;
}

/****************************************/
/* DIV wrapper
/****************************************/

.wrapper {
  padding-top: 100px;
  margin: 0 10vw 0 10vw;
  display: inline-flex; /*****flex;    aléatoire sauf siiiiiii flex basis dans chq objet****/
}

.wrapper p {
  margin-bottom: 0.5em;
  opacity: 100%;
}

/****************************************/
/* Projects gallery
/****************************************/

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
}

.gallery article {
  padding: 0;
  padding-bottom: 1rem;
  width: 60vw;
  max-width: 800px;
}

.gallery article > a {
  position: relative;
  overflow: hidden;
  height: fit-content;
  display: block;
}

.gallery h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: whitesmoke;
  width: 100%;
  font-size: 3vw;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5vw 0 0 1vw;
}

.gallery h4 {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: #ccc;
  font-size: 20px;
  transition: all 0.25s 0.15s;
  transform: translateY(100%);
}
.gallery a:hover h4 {
  transform: translateY(0);
}

.gallery h2 i {
  font-size: 80%;
  padding: 0 0 0 0.75vw;
  line-height: 100%;
}

.gallery figure {
  display: flex;
  height: auto;
  transition: all 0.25s;
}
.gallery a:hover figure {
  opacity: 60%;
}

@media screen and (max-width: 680px) {
  .gallery {
    margin: 0;
    padding: 0;
  }

  .gallery figure {
    margin: 0;
    padding: 1vh 0 0 0;
  }

  .gallery h2 {
    margin: 0;
    padding: 2vh 0 0 1.5vh;
  }
}

/*******************SECTION INDIVIUEL ******************/

/*section.texte {
  position: fixed;
  font-size: 140%;
  width: 20vw;
  color: whitesmoke;
  padding: 1.5vw 0 0 0;
  bottom: 5vh;
  margin-left: 0;
}

section.texte h3 {
  display: flex;
  padding: 0 0 1vw 0;
  text-decoration: none;
  color: gold;
  align-content: center;
  font-size: 170%;
  font-weight: 400;
  text-transform: uppercase;
}

section.texte article h4 {
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 90%;
  line-height: 125%;
}

section.texte p {
  opacity: 70%;
}

section.texte article p span {
  font-style: italic;
  opacity: 40%;
}*/

/***********************SECTION À PROPOS*******************/

/******************************************************/
/*  FORMULAIRE /  CONTACT
/******************************************************/
section.contact {
  padding-left: 10vw;
  width: 100%;
}

section.contact a {
  color: gold;
}
section.contact h2 {
  color: #333;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

section.contact h4 {
  font-size: 1.8rem;
}

@media screen and (max-width: 680px) {
  div section.contact {
    padding: 0;
  }
}
