@charset "UTF-8";

@import 'tailwindcss';

html {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
}

/* Enlever les padding et margin ajoutés automatiquement par normalize.css */

body,
html,
aside,
section,
article,
footer,
header,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
figure {
  padding: 0;
  margin: 0;
}

/******************************************************************
* Global styles
******************************************************************/

/* les images ne seront jamais plus grandes que le contenant <figure> qui les contient */
img {
  max-width: 100%;
  height: auto;
}
video {
  max-width: 100%;
  height: auto;
}

/* retire le gras par défaut des titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.sm-only {
  display: none;
}
@media screen and (max-width: 680px) {
  .sm-only {
    display: block;
  }
}

.sm-hidden {
  display: block;
}
@media screen and (max-width: 680px) {
  .sm-hidden {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}

/****************************************/
/* BODY
/****************************************/

html {
  width: 100vw;
  font-size: 20px;
}

body {
  width: 100%;
  font-size: 1rem;
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
  overflow-x: hidden;

  @apply bg-neutral-900;
  @apply text-neutral-200;

  --page-padding: 30vw;
}
@media screen and (max-width: 1200px) {
  body {
    --page-padding: 20vw;
  }
}

/****************************************/
/* Navbar
/****************************************/

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  @apply bg-neutral-900;
  display: flex;
  gap: 1rem;
  padding: 1rem var(--page-padding);
  width: 100%;
  height: 3.75rem;
}
body {
  padding-top: 3.75rem;
}

/****************************************/
/* Header
/****************************************/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

/****************************************/
/* About
/****************************************/

.about {
  width: 100%;
  padding: 3rem var(--page-padding);
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-bottom: 1px solid;
  @apply border-neutral-600;
}

.about__header {
  text-align: center;
  margin-bottom: 2rem;
}
.about__title {
  @apply text-4xl;
  margin-bottom: 0rem;
}
.about__subtitle {
  @apply text-xl;
  @apply text-neutral-400;
}
.about__description {
  @apply text-lg;
  text-align: justify;
  line-height: 1.2;
}
.about__image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50%);
  margin: 1rem;
  margin-left: 0;
  border: 2px solid;
  @apply border-neutral-600;
}

/****************************************/
/* Projects
/****************************************/

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;
}

.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}

.project__text {
  width: var(--page-padding);
}
.project__text h3 {
  @apply text-2xl;
  padding-bottom: 0.5rem;
}
.project__text h4 {
  @apply text-neutral-200;
  padding-bottom: 0.5rem;
}
.project__text p {
  @apply text-neutral-400;
  padding-bottom: 0.5rem;
}
.project__text p > span {
  @apply text-neutral-600;
  padding-bottom: 0.5rem;
}

.project__images {
  width: calc(100vw - var(--page-padding) - 1rem);
  overflow-x: auto;
  scrollbar-width: thin;
}
/* For WebKit browsers (Chrome, Safari, Opera) */
.project__images::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge, and Firefox */
.project__images {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.project__images > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  width: max-content;
  padding-right: var(--page-padding);
}
.project__images figure {
  height: auto;
}
.project__images figure:first-child img,
.project__images figure:first-child video {
  width: calc(100vw - 2 * var(--page-padding));
  height: auto;
  max-width: none;
}
.project__images figure:not(:first-child) img,
.project__images figure:not(:first-child) video {
  /* dimensions set programatically in JS */
  width: auto;
  height: 0;
}
.project {
  position: relative;
}
.project::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--page-padding);
  background: linear-gradient(
    to left,
    var(--neutral-900),
    color-mix(in srgb, var(--neutral-900) 0%, transparent 100%)
  );
}

/******************************************************/
/*  FORMULAIRE /  CONTACT
/******************************************************/

.contact {
  width: 100%;
  padding: 3rem var(--page-padding) 6rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  @apply border-neutral-600;
}

.contact__header {
  @apply text-6xl;
  margin-bottom: 2rem;
}
.contact__text {
  @apply text-xl;
  /* @apply text-neutral-400; */
}
.contact__text a {
  @apply text-yellow-400;
  text-decoration: underline;
}
