@charset "UTF-8";

@use './_mixins' as *;

/******************************************************************
* Global styles
******************************************************************/

:root {
  color-scheme: dark;
}

::selection {
  @apply bg-slate-600;
}

/* Set REM unit */
html {
  font-size: 20px;
}

/****************************************/
/* BODY
/****************************************/

html,
body {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
  overflow-x: hidden;

  @apply bg-neutral-900;
  @apply text-neutral-200;

  --page-padding: 30vw;
}
@media screen and (max-width: 1400px) {
  body {
    --page-padding: 25vw;
  }
}
@media screen and (max-width: 1200px) {
  body {
    --page-padding: 20vw;
  }
}
@media screen and (max-width: 800px) {
  body {
    --page-padding: 10vw;
  }
}

/****************************************/
/* Page loader
/****************************************/

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply bg-neutral-900;
  transition: opacity 0.8s ease-out;
}
body.loading .loader {
  opacity: 1;
  pointer-events: all;
}
.loader {
  opacity: 0;
  pointer-events: none;
}

/****************************************/
/* Navbar
/****************************************/

.navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: max-content;
  padding: 0.5rem calc(var(--page-padding) + 0.5rem);

  @apply flex flex-row justify-between;
  gap: 1rem;

  @apply text-sm;
  @apply text-neutral-500;
  @apply bg-neutral-900;
}
@include mobile-layout {
  .navbar {
    @apply text-neutral-400;
    background-color: color-mix(in srgb, var(--color-neutral-900) 60%, transparent 40%);
    backdrop-filter: blur(5px);
  }
}
@media screen and (max-height: 600px) {
  .navbar {
    @apply text-sm;
    padding: 0.25rem calc(var(--page-padding) + 0.5rem);
  }
}

.navbar a {
  transition: color 0.5s ease;
}
.navbar a.active {
  @apply text-neutral-100;
}

.navbar__filler {
  height: 1rem;
}

/****************************************/
/* Header
/****************************************/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(8rem, 25vw) 0 min(8rem, 20vw) 0;
  width: min(auto, 80vw);
  height: auto;
}
.header__logo {
  transform: scale(1.1);
  animation: 0.25s logo 1.25s linear;
  animation-fill-mode: forwards;
}
body.loading .header__logo {
  animation: none;
}
// small zoom-out animation
@keyframes logo {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/****************************************/
/* About
/****************************************/

.about {
  width: 100%;
  padding: 3rem var(--page-padding);
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  border-bottom: 1px solid;
  @apply border-neutral-600;
}

.about__header {
  text-align: center;
  margin-bottom: 2rem;
}
.about__title {
  @apply text-4xl;
  margin-bottom: 0rem;
}
.about__subtitle {
  text-transform: uppercase;
  @apply text-lg;
  @apply text-neutral-600;
  margin-top: -0.1rem;
}
.about__image {
  --size: 12rem;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  float: left;
  shape-outside: circle(50%);
  margin: 1rem;
  margin-left: 0;
  /* outset border */
  padding: 2px;
  border: 2px solid;
  @apply border-neutral-400;
}
.about__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.about__image::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: calc(var(--size) + 4rem);
  height: calc(var(--size) + 4rem);
  border: 4rem solid var(--color-neutral-800);
  background-color: transparent;
  opacity: 0.4;
  box-sizing: content-box;
}
.about__description {
  @apply text-lg;
  /* text-align: justify; */
  line-height: 1.2;
  /* margin-bottom: 0.25rem; */
}
.about__signature {
  filter: invert(1);
  width: calc((100vw - 2 * var(--page-padding)) / 1.8);
  align-self: end;
  padding-right: 0rem;
  opacity: 0.1;
  transform: translate(3.5rem, 0rem);
  padding-bottom: -1rem;
}

@media screen and (max-width: 600px) {
  .about__image {
    --size: 8rem;
    margin: 1rem 1rem 1rem 0;
  }
  .about__description {
    text-align: left;
  }
  .about__signature {
    transform: translate(2rem, 0rem);
  }
}

/****************************************/
/* Projects
/****************************************/

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;
}
.projects__title {
  @apply text-4xl;
  text-align: left;
  margin: 0 var(--page-padding) 4rem var(--page-padding);
}

.project {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
}

.project__text {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* min-width: 20rem; */
  max-width: var(--page-padding);
  height: 100%;
  padding: 0.5rem 2rem 1rem;
  background-color: color-mix(in srgb, var(--color-neutral-900) 60%, transparent 40%);
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: start;
}
@include desktop-layout {
  .project__text {
    padding-left: 4rem;
    overflow-y: auto;
  }
  @supports not selector(::-webkit-scrollbar-thumb) {
    .project__text {
      scrollbar-width: thin;
    }
  }
  @supports selector(::-webkit-scrollbar-thumb) {
    .project__text::-webkit-scrollbar {
      width: 12px;
    }
    .project__text::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px;
      border: 3px solid transparent;
      background-clip: content-box;
    }
    .project__text::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
    }
    .project__text::-webkit-scrollbar-button {
      display: none;
      width: 0px;
      height: 0px;
    }
  }
  .project__text article {
    display: contents;
  }
  .project__text article > :first-child {
    margin-top: auto;
  }
}
@media screen and (min-width: 1700px) {
  .project__text {
    padding-left: 6rem;
  }
}
.project__text h3 {
  @apply text-2xl;
}
.project__text h4 {
  @apply text-neutral-200;
}
.project__text p,
.project__text div {
  @apply text-neutral-400;
}
.project__text em {
  @apply text-neutral-600;
  font-style: normal;
}
.project__text article > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.project__image-descriptions {
  width: 100%;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}
@include desktop-layout {
  .project__image-descriptions {
    transition: height 0.4s ease-in-out;
    overflow: hidden;
  }
}
.project__text [data-image-for] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition:
    height 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.project__images {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}
/* For WebKit browsers (Chrome, Safari, Opera) */
.project__images::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge, and Firefox */
.project__images {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.project__images > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: max(min(calc(var(--page-padding) - 2rem), 8rem), 1rem);
  width: max-content;
  padding: 0 var(--page-padding);
}
.project__images figure {
  height: auto;
}
.project__images figure:first-child img,
.project__images figure:first-child video {
  width: calc(100vw - 2 * var(--page-padding));
  height: auto;
  max-width: none;
}
.project__images figure:not(:first-child) img,
.project__images figure:not(:first-child) video {
  /* dimensions set programatically in JS */
  width: auto;
  height: 0;
}
.project {
  position: relative;
}
.project::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(var(--page-padding) / 1.6);
  pointer-events: none;
  background: linear-gradient(
    to right,
    transparent 0%,
    color-mix(in srgb, var(--color-neutral-900) 10%, transparent) 20%,
    color-mix(in srgb, var(--color-neutral-900) 80%, transparent) 100%
  );
}
@include mobile-layout {
  .project:after {
    right: -2rem;
  }
}

/* Mobile layout */

@include mobile-layout {
  .project {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }
  .project__text {
    position: static;
    width: 100%;
    max-width: 100vw;
    height: auto;
    padding: 1rem var(--page-padding);
    background-color: transparent;
    backdrop-filter: none;
    align-items: start;
  }
  .project__images {
    width: 100%;
  }
  .project__images figure:first-child img,
  .project__images figure:first-child video {
    width: calc(100vw - 2 * var(--page-padding));
    height: auto;
    max-width: none;
  }
}

/******************************************************/
/*  FORMULAIRE /  CONTACT
/******************************************************/

.contact {
  width: 100%;
  padding: 6rem var(--page-padding);
  @apply flex flex-col items-center justify-center;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  @apply border-neutral-600;
}

.contact__header {
  @apply text-6xl;
  margin-bottom: 2rem;
}
.contact__text {
  @apply text-xl;
  @apply text-neutral-300;
}

.contact__email {
  border-radius: 20px;
  padding: 1rem 1.2rem;
  margin-bottom: 2.2rem;
  text-decoration: none;
  @apply flex flex-col items-center justify-center;
  @apply bg-yellow-200;
  transition: background-color 0.3s ease;
}
.contact__email:hover {
  @apply bg-yellow-300;
}
.contact__email:active {
  transform: translateY(1px);
}
.contact__email__title {
  @apply text-3xl;
  @apply text-neutral-900;
}
.contact__email__subtitle {
  @apply text-neutral-900;
  opacity: 0.6;
}

/****************************************/
/* Footer
/****************************************/

.footer {
  padding: 8rem var(--page-padding);
  @apply flex flex-col items-center justify-center;
}
.footer__logo {
  width: calc((100vw - 2 * var(--page-padding)) / 4);
  height: auto;
}
